<div class="wrapper">
  <aside id="sidebar">
    <div class="d-flex">
      <button class="toggle-btn" type="button">
        <i class="lni lni-grid-alt"></i>
      </button>
      <div class="sidebar-logo">
        <a href="#">DASHBOARD</a>
      </div>
    </div>
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a href="/admin/user_panel" class="sidebar-link">
          <i class="lni lni-user"></i>
          <span>User-List</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#auth"
          aria-expanded="false" aria-controls="auth">
          <i class="lni lni-protection"></i>
          <span>INVENTORY</span>
        </a>
        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a href="/admin/products" class="sidebar-link">Products</a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/category" class="sidebar-link">Category</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#auth"
          aria-expanded="false" aria-controls="auth">
          <i class="lni lni-protection"></i>
          <span>OFFERS&VOUCHERS</span>
        </a>
        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a href="/admin/offers" class="sidebar-link">Offers</a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/coupons" class="sidebar-link">Coupons</a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/vouchers" class="sidebar-link">Vouchers</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a href="/admin/stock" class="sidebar-link">
          <i class="lni lni-user"></i>
          <span>STOCK</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#auth"
          aria-expanded="false" aria-controls="auth">
          <i class="lni lni-protection"></i>
          <span>SALES</span>
        </a>
        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a href="/admin/sales-report" class="sidebar-link">Sales-Report</a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/inventory-report" class="sidebar-link">Inventory-Report</a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/purchase-report" class="sidebar-link">Purchase-Report</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="sidebar-footer">
      <button class="logout-btn" id="logout-btn">
        <i class="lni lni-exit"></i>
        <span>Logout</span>
      </button>
    </div>
  </aside>

        <div class="main">
            <div style="margin-top: 50px;margin-right:50px;">
                <h1 style="position: relative; left: 80px;" class="text-start">PRODUCTS</h1>
            </div>
            <div class="container">
                <div style="margin-bottom: 50px;">
                    <!-- Your main content goes here -->
                    <div class="d-flex justify-content-start mb-3" style="position: relative; left: 2px;">
                        <div style="width: 300px;">
                            <input type="text" class="form-control" placeholder="Search" id="search-input">
                        </div>
                        <div class="d-flex align-items-center ms-3">
                            <button class="btn btn-dark me-2" id="search-btn">Search</button>
                            <a href="/admin/products/add-product" class="btn btn-danger">ADD</a>
                        </div>
                    </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>IMAGE</th>
      <th>NAME</th>
      <th>PRICE</th>
      <th>DISCOUNT</th>
      <th>STOCK</th>
      <th>CATEGORY</th>
      <th>QUANTITY</th>
      <th>BRAND</th>
      <th>CREATED-AT</th>
      <th>UPDATED-AT</th>
      <th>ACTIONS</th>
    </tr>
  </thead>
        
        <tbody>
          {{#each productsData}}
            <tr>
              <td>  <img src="/{{this.images.[0]}}" class="card-img-top" alt="{{this.productName}}" style="width: 70px
              ;"></td>
              <td>{{this.productName}} </td>
              <td>{{this.originalprice}}</td>
              <td>{{this.discount}}</td>
              {{#if this.inStock}}
                <td class="text-success" style="font-weight: bold;">In Stock</td>
              {{else}}
                <td class="text-danger"  style="font-weight: bold;">Out Of Stock</td>
              {{/if}}
              <td>{{this.category.categoryName}}</td>
              <td>{{this.quantity}}</td>
              <td>{{this.brand}}</td>
             
              <td>{{this.createdAt}}</td>
              <td>{{this.updatedAt}}</td>
              <td><button class="btn"><i
                    id="edit-product-button"
                    class="fa-solid fa-pen-to-square"
                    data-product-id={{this._id}}
                  ></i></button>
                <button class="btn"><i
                    id="product-delete-icon"
                    class="text-danger fa-solid fa-trash"
                    data-product-id={{this._id}}
                  ></i></button>
              
            </tr>
          {{/each}}
        </tbody>
</table>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imageCropModal" tabindex="-1" aria-labelledby="imageCropModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="imageCropModalLabel">ALERT</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div style="height:fit-content; width:100%;">
        <div class="row p-2">
          <span class="d-flex justify-content-center font-weight-bold text-white fs-6 p-2 modal-body-alert">
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel_crop_button" class="btn btn-light" style="width:fit-content;"
          data-bs-dismiss="modal">Cancel</button>
        <button style="width: 110px;" id="confirmAction" type="button" class="btn btn-danger">Confirm</button>
      </div>
    </div>
  </div>
</div>
<button id="alert-button" class="btn" hidden data-bs-toggle="modal" data-bs-target="#imageCropModal"></button>

<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="imageCropModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="imageCropModalLabel">ALERT</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div style="height:fit-content; width:100%;">
        <div class="row p-2">
          <div class="d-flex justify-content-center align-items-center">
            <div>
              <span class="font-weight-bold text-white fs-6 px-3 me-2 modal-body-msg">
              </span>
            </div>
            <div class="loader">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel_button" class="btn btn-danger text-white" style="width:fit-content;"
          data-bs-dismiss="modal">Cancel</button>

      </div>
    </div>
  </div>
</div>
<button id="msg-button" hidden class="btn" data-bs-toggle="modal" data-bs-target="#alertModal"></button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const hamBurger = document.querySelector(".toggle-btn");
    hamBurger.addEventListener("click", function () {
      document.querySelector("#sidebar").classList.toggle("expand");
    });

  }):
</script>
