<div class="wrapper">
  <aside id="sidebar">
    <div class="d-flex">
      <button class="toggle-btn" type="button">
        <i class="lni lni-grid-alt"></i>
      </button>
      <div class="sidebar-logo">
        <a href="#">DASHBOARD</a>
      </div>
    </div>
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a href="/admin/user_panel" class="sidebar-link">
          <i class="lni lni-user"></i>
          <span>User-List</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#auth"
          aria-expanded="false" aria-controls="auth">
          <i class="lni lni-protection"></i>
          <span>INVENTORY</span>
        </a>
        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a href="/admin/products" class="sidebar-link">Products</a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/category" class="sidebar-link">Category</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#auth"
          aria-expanded="false" aria-controls="auth">
          <i class="lni lni-protection"></i>
          <span>OFFERS&VOUCHERS</span>
        </a>
        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a href="/admin/offers" class="sidebar-link">Offers</a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/coupons" class="sidebar-link">Coupons</a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/vouchers" class="sidebar-link">Vouchers</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a href="/admin/stock" class="sidebar-link">
          <i class="lni lni-user"></i>
          <span>STOCK</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#auth"
          aria-expanded="false" aria-controls="auth">
          <i class="lni lni-protection"></i>
          <span>SALES</span>
        </a>
        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a href="/admin/sales-report" class="sidebar-link">Sales-Report</a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/inventory-report" class="sidebar-link">Inventory-Report</a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/purchase-report" class="sidebar-link">Purchase-Report</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="sidebar-footer">
      <button class="logout-btn" id="logout-btn">
        <i class="lni lni-exit"></i>
        <span>Logout</span>
      </button>
    </div>
  </aside>

<div class="container" id="addproduct-container">
  <div class="row px-5 pt-2">
    {{#each product}}
    <form
  action="/admin/products/edit-product/{{this._id}}?_method=PUT"
  method="POST"
  class="row g-3"
  enctype="multipart/form-data"
>


      <label class="fs-4 mb-3 h2">Product Details</label>

      <div class="col-md-6">
        <input
          type="text"
          name="productname"
          placeholder="PRODUCT NAME"
          class="form-control product-name"
          value="{{this.productName}}"
        />
      </div>
      <div class="col-md-6">

        <input
          type="number"
          name="originalprice"
          placeholder="ORIGINAL PRICE"
          class="form-control price"
          value="{{this.originalprice}}"
        />
      </div>
        <div class="col-md-6">

        <input
          type="number"
          name="discount"
          placeholder="Discount (%)"
          class="form-control price"
          value="{{this.discount}}"
        />
      </div>
<div class="col-md-6">
        <div class="row">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="inputGroupSelect01"
            >Category</label>
            <select class="form-select  " name="category" id="inputGroupSelect01">
            
              {{#each ../categoryData }}
                <option 
                 
                {{#ifEquals this.categoryName  ../this.category.categoryName}}     
                selected
                {{/ifEquals}}

                
                  value="{{this.categoryName}}"
                >{{this.categoryName}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <input
          type="number"
          name="quantity"
          placeholder="QTY"
          class="form-control quantity"
          value="{{this.quantity}}"
        />
      </div>
      <label class="fs-4 mb-3 mt-5 h2">Product Features

      </label>
      <div class="col-md-4">
        <input
          type="text"
          name="primarymaterial"
          placeholder="PRIMARY MATERIAL"
          class="form-control"
          list="primary-material"
          value="{{this.primarymaterial}}"
        />
      </div>
      <datalist id="primary-material">
  <option value="European Ash Wood (kiln dried)"></option>
  <option value="Oak Wood (kiln dried)"></option>
  <option value="Teak Wood"></option>
  <option value="Walnut Wood"></option>
  <option value="Mahogany"></option>
  <option value="Maple Wood"></option>
  <option value="Birch Wood"></option>
</datalist>
      <div class="col-md-4">

        <input
          type="text"
          name="floorstanding"
          placeholder="Floor Standing"
          class="form-control"
          list="floor-standing"
          value="{{this.floorstanding}}"
        />
      </div>
      <div class="col-md-4">

        <input
          type="text"
          name="polishmaterial"
          placeholder="Polish Material"
          class="form-control"
          list="polish-materials"
          value="{{this.polishmaterial}}"
        />
      </div>
      <datalist id="polish-materials">
  <option value="Sayerlack (Italy)"></option>
  <option value="Dulux (UK)"></option>
  <option value="Sadolin (Denmark)"></option>
  <option value="Bondex (Denmark)"></option>
  <option value="Caparol (Germany)"></option>
  <option value="Jotun (Norway)"></option>
  <option value="Benjamin Moore (USA)"></option>
  <option value="Sherwin-Williams (USA)"></option>
  <option value="Valspar (USA)"></option>
  <option value="AkzoNobel (Netherlands)"></option>
  <option value="Boero (Italy)"></option>
  <option value="Farrow & Ball (UK)"></option>
  <option value="Teknos (Finland)"></option>
  <option value="Tikkurila (Finland)"></option>
  <option value="Zinsser (USA)"></option>
</datalist>

      <datalist id="floor-standing">
        <option value="Yes"></option>
        <option value="No"></option>
      </datalist>
      <label class="fs-5">Select colors</label>
<div class="row">
  {{#each this.color as |color index|}}
    <div class="col-md-3">
      <input
        type="text"
        name="color"
        placeholder="COLOR "
        class="form-control"
        list="color-options"
        value="{{color}}"
      />
    </div>
  {{/each}}
</div>

<datalist id="color-options">
  <option value="Red"></option>
  <option value="Blue"></option>
  <option value="Green"></option>
  <option value="Yellow"></option>
  <option value="Black"></option>
  <option value="White"></option>
  <option value="Gray"></option>
  <option value="Brown"></option>
  <option value="Pink"></option>
  <option value="Purple"></option>
  <option value="Orange"></option>
  <option value="Beige"></option>
</datalist>


      <label class="fs-4 mb-3 mt-5 h2">Specifications

      </label>
      <div class="col-md-4">
        <input
          type="text"
          name="material"
          placeholder="MATERIAL"
          class="form-control material"
          value="{{this.material}}"
        />
      </div>
      <div class="col-md-4">

        <input
          type="text"
          name="warranty"
          placeholder="WARRANTY"
          class="form-control warranty"
          list="warranty-options"
          value="{{this.warranty}}"
        />
      </div>

      <datalist id="warranty-options">
        <option value="Yes"></option>
        <option value="No"></option>
      </datalist>

      <div class="col-md-4">

        <input
          type="text"
          placeholder="Country of Origin"
          class="form-control countryofOrigin"
          name="countryofOrigin"
          list="country-options"
          value="{{this.countryofOrigin}}"
        />
      </div>
      <datalist id="country-options">
  <option value="United States"></option>
  <option value="Canada"></option>
  <option value="United Kingdom"></option>
  <option value="Australia"></option>
  <option value="Germany"></option>
  <option value="France"></option>
  <option value="India"></option>
  <option value="China"></option>
  <option value="Japan"></option>
  <option value="South Korea"></option>
  <option value="Brazil"></option>
  <option value="Mexico"></option>
  <option value="Italy"></option>
  <option value="Spain"></option>
  <option value="Russia"></option>
  <option value="South Africa"></option>
  <option value="Saudi Arabia"></option>
  <option value="Argentina"></option>
  <option value="Indonesia"></option>
  <option value="Turkey"></option>
</datalist>


      <div class="col-md-4">
        <input
          type="number"
          name="weight"
          placeholder="WEIGHT"
          class="form-control weight"
          value="{{this.weight}}"
        />
      </div>
      <div class="col-md-4">

        <input
          type="text"
          name="fabric_options"
          placeholder="FABRIC OPTIONS"
          class="form-control fabric_options"
          list="fabric-options"
          value="{{this.fabric_options}}"
        />
      </div>
      <datalist id="fabric-options">
  <option value="Cotton"></option>
  <option value="Linen"></option>
  <option value="Wool"></option>
  <option value="Silk"></option>
  <option value="Velvet"></option>
  <option value="Polyester"></option>
  <option value="Acrylic"></option>
  <option value="Nylon"></option>
  <option value="Chenille"></option>
  <option value="Leather"></option>
  <option value="Microfiber"></option>
  <option value="Suede"></option>
  <option value="Viscose"></option>
  <option value="Rayon"></option>
  <option value="Bamboo"></option>
  <option value="Jute"></option>
  <option value="Hemp"></option>
  <option value="Acetate"></option>
  <option value="Modal"></option>
  <option value="Spandex"></option>
  <option value="Cashmere"></option>
  <option value="Faux Fur"></option>
  <option value="Faux Leather"></option>
</datalist>

      <div class="col-md-4">

        <input
          type="text"
          name="brand"
          placeholder="BRAND"
          class="form-control brand"
          list="brand-options"
          value="{{this.brand}}"
        />
      </div>
      <datalist id="brand-options">
  <option value="Herman Miller (USA)"></option>
  <option value="Knoll (USA)"></option>
  <option value="Poltrona Frau (Italy)"></option>
  <option value="Cassina (Italy)"></option>
  <option value="Fritz Hansen (Denmark)"></option>
  <option value="Vitra (Switzerland)"></option>
  <option value="Roche Bobois (France)"></option>
  <option value="Minotti (Italy)"></option>
  <option value="B&B Italia (Italy)"></option>
  <option value="Flexform (Italy)"></option>
  <option value="Giorgetti (Italy)"></option>
  <option value="Molteni&C (Italy)"></option>
  <option value="Arper (Italy)"></option>
  <option value="Porro (Italy)"></option>
  <option value="Moroso (Italy)"></option>
  <option value="Kartell (Italy)"></option>
  <option value="Dedon (Germany)"></option>
  <option value="Roda (Italy)"></option>
  <option value="Natuzzi (Italy)"></option>
  <option value="Cattelan Italia (Italy)"></option>
  <option value="Ethimo (Italy)"></option>
  <option value="Ercol (UK)"></option>
  <option value="Tom Dixon (UK)"></option>
  <option value="Carl Hansen & Søn (Denmark)"></option>
  <option value="Muuto (Denmark)"></option>
  <option value="Emeco (USA)"></option>
  <option value="Bernhardt (USA)"></option>
  <option value="Jonathan Adler (USA)"></option>
  <option value="Ralph Lauren Home (USA)"></option>
  <option value="Restoration Hardware (USA)"></option>
  <option value="Ligne Roset (France)"></option>
  <option value="Roche Bobois (France)"></option>
  <option value="Driade (Italy)"></option>
  <option value="Gubi (Denmark)"></option>
  <option value="Montis (Netherlands)"></option>
  <option value="Leolux (Netherlands)"></option>
  <option value="Tecta (Germany)"></option>
  <option value="Walter Knoll (Germany)"></option>
  <option value="Ligne Roset (France)"></option>
  <option value="Cassina (Italy)"></option>
  <option value="Riva 1920 (Italy)"></option>
  <!-- Add more brands as needed -->
</datalist>

      <div class="col-md-4">

        <input
          type="text"
          name="dimension"
          placeholder="DIMENSION"
          class="form-control dimension"
          list="dimension-options"
          value="{{this.dimension}}"
        />
      </div>
      <datalist id="dimension-options">
        <option value="134L x 75W x 77H"></option>
  <option value="120L x 60W x 80H"></option>
  <option value="150L x 90W x 75H"></option>
  <option value="180L x 90W x 75H"></option>
  <option value="200L x 100W x 76H"></option>
  <option value="210L x 100W x 80H"></option>
  <option value="220L x 110W x 75H"></option>
  <option value="240L x 120W x 78H"></option>
  <option value="250L x 120W x 80H"></option>
  <option value="260L x 130W x 82H"></option>
  <option value="280L x 140W x 85H"></option>
  <option value="300L x 150W x 90H"></option>
  <option value="320L x 160W x 95H"></option>
  <option value="340L x 170W x 100H"></option>
</datalist>
      <label class="fs-4 mb-3 mt-5 h2">Description</label>

      <div class="col-md-4">
        <input
          type="text"
          name="description"
          placeholder="DESCRIPTION 1"
          class="form-control"
          value="{{this.description.[0]}}"
        />
      </div>
      <div class="col-md-4">
        <input
          type="text"
          name="description"
          placeholder="DESCRIPTION 2"
          class="form-control"
          value="{{this.description.[1]}}"
        />
      </div>
      <div class="col-md-4">
        <input
          type="text"
          name="description"
          placeholder="DESCRIPTION 3"
          class="form-control"
          value="{{this.description.[2]}}"
        />
      </div>
      <div class="col-md-4">
        <input
          type="text"
          name="description"
          placeholder="DESCRIPTION 4"
          class="form-control"
          value="{{this.description.[4]}}"
        />
      </div>
       <div class="mb-3">
                <label class="fs-4 mb-3 mt-2 h2">Uploaded Images</label>
                <div>
                    {{#each this.images}}
                        <div>
                            <img src="/{{this}}" alt="Uploaded Image" width="200">
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="mb-3">
                <label class="fs-4 mb-3 mt-2 h2">Upload multiple Images</label>
                <input
                    class="form-control formFileMultiple"
                    type="file"
                    id="formFileMultiple"
                    name="files"
                    multiple
                />
            </div>
            <div class="mb-3">
                <label class="fs-4 mb-3 mt-2 h2">Upload multiple Images</label>
                <input
                    class="form-control formFileMultiple"
                    type="file"
                    id="formFileMultiple"
                    name="files"
                    multiple
                />
            </div>
            <div class="mb-3">
                <label class="fs-4 mb-3 mt-2 h2">Upload multiple Images</label>
                <input
                    class="form-control formFileMultiple"
                    type="file"
                    id="formFileMultiple"
                    name="files"
                    multiple
                />
            </div>

      <div class="col-md-12">
        <button
          type="submit"
          id="add-product"
          class="btn p-2 mt-3 mb-3 btn-success"
        >EDIT PRODUCT</button>
      </div>

    </form>
{{/each}}
  </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const hamBurger = document.querySelector(".toggle-btn");
    hamBurger.addEventListener("click", function () {
      document.querySelector("#sidebar").classList.toggle("expand");
    });


  });

</script>