

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

  ::after,
  ::before {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  a {
      text-decoration: none;
  }

  li {
      list-style: none;
  }

  h1 {
      font-weight: 600;
      font-size: 1.5rem;
  }

  body {
      font-family: 'Poppins', sans-serif;
  }

  .wrapper {
      display: flex;
  }

  .main {
      min-height: 100vh;
      width: 100%;
      overflow: hidden;
      transition: all 0.35s ease-in-out;
      background-color: #fafbfe;
  }

  #sidebar {
      width: 70px;
      min-width: 70px;
      z-index: 1000;
      transition: all .25s ease-in-out;
      background-color: #0e2238;
      display: flex;
      flex-direction: column;
  }

  #sidebar.expand {
      width: 260px;
      min-width: 260px;
  }

  .toggle-btn {
      background-color: transparent;
      cursor: pointer;
      border: 0;
      padding: 1rem 1.5rem;
  }

  .toggle-btn i {
      font-size: 1.5rem;
      color: #FFF;
  }

  .sidebar-logo {
      margin: auto 0;
  }

  .sidebar-logo a {
      color: #FFF;
      font-size: 1.15rem;
      font-weight: 600;
  }

  #sidebar:not(.expand) .sidebar-logo,
  #sidebar:not(.expand) a.sidebar-link span {
      display: none;
  }

  .sidebar-nav {
      padding: 2rem 0;
      flex: 1 1 auto;
  }

  a.sidebar-link {
      padding: .625rem 1.625rem;
      color: #FFF;
      display: block;
      font-size: 0.9rem;
      white-space: nowrap;
      border-left: 3px solid transparent;
  }

  .sidebar-link i {
      font-size: 1.1rem;
      margin-right: .75rem;
  }

  a.sidebar-link:hover {
      background-color: rgba(255, 255, 255, .075);
      border-left: 3px solid #3b7ddd;
  }

  .sidebar-item {
      position: relative;
  }

  #sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
      position: absolute;
      top: 0;
      left: 70px;
      background-color: #0e2238;
      padding: 0;
      min-width: 15rem;
      display: none;
  }

  #sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
      display: block;
      max-height: 15em;
      width: 100%;
      opacity: 1;
  }

  #sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
      border: solid;
      border-width: 0 .075rem .075rem 0;
      content: "";
      display: inline-block;
      padding: 2px;
      position: absolute;
      right: 1.5rem;
      top: 1.4rem;
      transform: rotate(-135deg);
      transition: all .2s ease-out;
  }

  #sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
      transform: rotate(45deg);
      transition: all .2s ease-out;
  }
 

</style>

<body>
  <div class="wrapper">
    <aside id="sidebar">
      <div class="d-flex">
          <button class="toggle-btn" type="button">
              <i class="lni lni-grid-alt"></i>
          </button>
          <div class="sidebar-logo">
              <a href="#">Admin</a>
          </div>
      </div>
      <ul class="sidebar-nav">
          <li class="sidebar-item">
              <a href="/admin/dashboard" class="sidebar-link">
                  <i class="lni lni-user"></i>
                  <span>DASHBOARD</span>
              </a>
          </li>
          <li class="sidebar-item">
              <a href="/admin/user_panel" class="sidebar-link">
                  <i class="lni lni-agenda"></i>
                  <span>USERS</span>
              </a>
          </li>
          <li class="sidebar-item">
              <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                  data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                  <i class="lni lni-protection"></i>
                  <span>INVENTORY</span>
              </a>
              <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                  <li class="sidebar-item">
                      <a href="/admin/products" class="sidebar-link">Products</a>
                  </li>
                  <li class="sidebar-item">
                      <a href="/admin/category" class="sidebar-link">Category</a>
                  </li>
              </ul>
          </li>
          <li class="sidebar-item">
              <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                  data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                  <i class="lni lni-protection"></i>
                  <span>COUPONS&OFFERS</span>
              </a>
              <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                  <li class="sidebar-item">
                      <a href="/admin/coupons" class="sidebar-link">Coupons</a>
                  </li>
                  <li class="sidebar-item">
                      <a href="/admin/offers" class="sidebar-link">Offers</a>
                  </li>
              </ul>
          </li>
          <li class="sidebar-item">
              <a href="#" class="sidebar-link">
                  <i class="lni lni-popup"></i>
                  <span>STOCK</span>
              </a>
          </li>
          <li class="sidebar-item">
              <a href="/admin/orders" class="sidebar-link">
                  <i class="lni lni-cog"></i>
                  <span>ORDERS</span>
              </a>
          </li>
          <li class="sidebar-item">
              <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                  data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                  <i class="lni lni-protection"></i>
                  <span>SALES</span>
              </a>
              <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                  <li class="sidebar-item">
                      <a href="/admin/sales" class="sidebar-link">Sales-Report</a>
                  </li>
                  <li class="sidebar-item">
                      <a href="/admin/inventory-report" class="sidebar-link">Inventory-Report</a>
                  </li>
                  <li class="sidebar-item">
                      <a href="/admin/purchase-report" class="sidebar-link">Purchase-Report</a>
                  </li>
              </ul>
          </li>
      </ul>
      <div class="sidebar-footer">
          <a href="/admin/logout" class="sidebar-link" id="logout-btn">
              <i class="lni lni-exit"></i>
              <span>Logout</span>
          </a>
      </div>
  </aside>
       <div class="main p-3">
        <!-- Main content here -->
        <div class="container">
          <h1>User List</h1>
          <div class="row">
            <div class="col-md-12">
    
              <table class="table mt-3">
                <thead>
                  <tr>
    
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% users.forEach(user=> { %>
                    <tr>
                      <td>
                        <%= user.firstName %>
                          <%= user.lastName %>
                      </td>
                      <td class="text-truncate">
                        <%= user.email %>
                      </td>
                      <td>
                        <%= user.phone %>
                      </td>
                      <td>
                        <button class="btn btn-<%= user.isBlocked ? 'danger' : 'success' %>">
                          <%= user.isBlocked ? 'Blocked' : 'Active' %>
                        </button>
                      </td>
                      <td>
                        <%= user.createdAt %>
                      </td>
                      <td>
                        <%= user.updatedAt %>
                      </td>
                      <td>
                        <% if (user.isBlocked) { %>
                          <button class="btn unblock-button" data-user-id="<%= user._id %>">
                            <i class="user-blocked-icon<%= user._id %> fa-solid text-danger fa-user-slash"></i>
                          </button>
                          <% } else { %>
                            <button class="btn px-2 block-button" data-user-id="<%= user._id %>">
                              <i class="user-block-icon<%= user._id %> fa-solid text-success fa-user"></i>
                            </button>
                            <% } %>
                      </td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
          </div>
    
        </div>
      </div>
  </div>
  
  <div class="modal fade" id="imageCropModal" tabindex="-1" aria-labelledby="imageCropModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title text-white" id="imageCropModalLabel">ALERT</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div style="height:fit-content; width:100%;">
          <div class="row p-2">
            <span class="d-flex justify-content-center font-weight-bold text-white fs-6 p-2 modal-body-alert">

            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel_crop_button" class="btn btn-light" style="width:fit-content;"
            data-bs-dismiss="modal">Cancel</button>
          <button style="width: 110px;" id="confirmAction" type="button" class="btn btn-danger">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  <button id="alert-button" class="btn" hidden data-bs-toggle="modal" data-bs-target="#imageCropModal"></button>
  <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="imageCropModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title text-white" id="imageCropModalLabel">ALERT</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div style="height:fit-content; width:100%;">
          <div class="row p-2">

            <div class="d-flex justify-content-center align-items-center">
              <div>
                <span class="font-weight-bold text-white fs-6 px-3 me-2 modal-body-msg">

                </span>
              </div>
              <div class="loader">

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel_button" class="btn btn-danger text-white" style="width:fit-content;"
            data-bs-dismiss="modal">Cancel</button>

        </div>
      </div>
    </div>
  </div>
  <button id="msg-button" hidden class="btn" data-bs-toggle="modal" data-bs-target="#alertModal"></button>



  <script>
        const hamBurger = document.querySelector(".toggle-btn");

hamBurger.addEventListener("click", function () {
    document.querySelector("#sidebar").classList.toggle("expand");
});
  </script>