

<style>

  .address-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  position: relative;
  width: 35%;
  
}
.address-card .btn {
  margin-right: 10px;
}
.address-card .badge {
  position: absolute;
  top: 15px;
  right: 15px;
}



.addButton{
  position: absolute;
  right: 100px;
}
.container-fluid {

  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.address-body{
  padding-left: 100px;
}
.custom-swal-title,
.custom-swal-content,
.custom-swal-confirm-button,
.custom-swal-cancel-button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

</style>
<div class="container-fluid">
  <div class="row">
      <!-- Sidebar -->
      <%- include("../partials/userSidenav.ejs") %>
      <!-- Form Section -->
      <div class="col-lg-9 address-body" >
        <div class="row mt-4">
          <div class="col-12">
            <h5 style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Saved Addresses</h5>
            <a href="/user/add_address" class="btn btn-dark addButton"> Add New Address</a>
            <% if (userInfo && address.length > 0) { %>
              <% address.forEach(addr => { %>
                <div class="address-card">
                  <span class="badge badge-dark">Home</span>
                  <strong><%= addr.firstName %> <%= addr.lastName %></strong><br>
                  <%= addr.homeAddress %>, <%= addr.street %>, <%= addr.city %>, <%= addr.state %>, <%= addr.country %>, <%= addr.pincode %><br>
                  Mob: <%= Array.isArray(addr.phone) ? addr.phone.join(", ") : addr.phone %><br><br><br>
                  <i style="color: red; cursor: pointer;" class="fa-solid fa-trash-can delete-address" data-address-id="<%= addr._id %>"></i> Remove &nbsp;&nbsp;
                  <i style="color: chocolate; cursor: pointer;" class="fa-solid fa-pen-to-square edit-address"  data-address-id="<%= addr._id %>"></i> Edit
                </div>
              <% }) %>
            <% } %>
          
          </div>
        </div>
      </div>
  </div>
</div>

<script>
  // delete address
  $(document).ready(function () {
    $(".delete-address").click(function () {
        const addressId = $(this).data("address-id");

        Swal.fire({
            title: 'Are you sure?',
            text: "Do you really want to delete this address?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#000000',
            cancelButtonColor: '#746d6b',
            confirmButtonText: 'Yes, delete it!',
            customClass: {
                title: 'custom-swal-title',
                content: 'custom-swal-content',
                confirmButton: 'custom-swal-confirm-button',
                cancelButton: 'custom-swal-cancel-button',
            }
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/user/delete_address/${addressId}`,
                    method: "DELETE",
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                title: 'Deleted!',
                                text: 'The address has been deleted.',
                                icon: 'success',
                                customClass: {
                                    title: 'custom-swal-title',
                                    content: 'custom-swal-content',
                                    confirmButton: 'custom-swal-confirm-button',
                                }
                            }).then(() => {
                                window.location.reload();
                            });
                        } else {
                            Swal.fire({
                                title: 'Error!',
                                text: response.message,
                                icon: 'error',
                                customClass: {
                                    title: 'custom-swal-title',
                                    content: 'custom-swal-content',
                                    confirmButton: 'custom-swal-confirm-button',
                                }
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            title: 'Error!',
                            text: 'Error occurred while deleting the address.',
                            icon: 'error',
                            customClass: {
                                title: 'custom-swal-title',
                                content: 'custom-swal-content',
                                confirmButton: 'custom-swal-confirm-button',
                            }
                        });
                    }
                });
            }
        });
    });
});





  $(document).ready(function () {
    $(".edit-address").click(function() {
        const addressId = $(this).data("address-id");
   
        window.location.href = `/user/edit_address/${addressId}`;
    });
});

  </script>

