<style>
  .input-number {
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #d1d5db;
    padding: 0.5rem;
  }

  .input-number .input-group {
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }

  .input-number button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    border: 0px solid #d1d5db;
    background-color: #ffffff;
    color: #4b5563;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
    transition: background-color 0.2s ease, opacity 0.2s ease;
  }

  .input-number button:hover {
    background-color: #ffffff;
  }

  .input-number button:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .input-number input {
    padding: 0;
    width: 2rem;
    background-color: transparent;
    border: 0;
    text-align: center;
    color: #4b5563;
  }

  .accordion .card-header {
    border: none;
    padding: 0.75rem 1.25rem;
    background: none;
  }

  .accordion .card {
    border: none;
  }

  .accordion .btn-link {
    width: 100%;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    color: #000;
    text-decoration: none;
    padding: 0;
  }

  .accordion .btn-link:hover,
  .accordion .btn-link:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
  }

  .accordion .card-body {
    padding: 0.75rem 1.25rem;
  }

  .accordion .plus-icon::after {
    content: '+';
    font-size: 1.5rem;
    font-weight: bold;
  }

  .accordion .btn-link[aria-expanded="true"] .plus-icon::after {
    content: '-';
  }

  .accordion .card+.card {
    border-top: 1px solid #dee2e6;
  }

  .custom-swal-popup {
    width: 400px;
    max-width: 90%;
    padding: 20px;
  }


  .custom-swal-title {
    font-size: 24px;

  }

  .custom-swal-content {
    font-size: 16px;
  }


  .custom-swal-confirm-button {
    background-color: #272727;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
  }


  .custom-swal-confirm-button {
    margin-top: 20px;
  }


  .custom-swal-confirm-button:hover {
    background-color: #000000;
  }

  .custom-swal-confirm-button:active {
    background-color: #363636;
  }

  .circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    /* Smooth transition */
    position: absolute;
    top: 10px;
    right: 140px;
    z-index: 10;
  }


  .circle-container i {
    font-size: 1rem;
    color: #ccc;
    transition: color 0.3s;

  }

  .circle-container.active {
    background-color: #333;
    border-color: #333;
  }

  .circle-container.active i {
    color: #fff;


  }

  .container{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  .add-to-cart{
    border-radius: 0;
  }
  .product-body{
    margin-top:78px;
  }


</style>
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 product-body">
        <div class="row">
          <div class="col-12 mb-2">
            <img id="mainProductImage" src="/<%= product.images[0] %>" class="img-fluid" alt="Main Product Image" style="min-width: 80%; height: auto;">
            <div class="circle-container" id="wishlist-icon-<%= product._id %>" style="position: absolute; top: 10px; right: 140px;">
                <i class="fa fa-heart" onclick="addToWishlist('<%= product._id %>')"></i>
            </div>
          </div>
          <% for (let i = 0; i < product.images.length && i < 3; i++) { %>
          <div class="col-4 mb-2">
            <img src="/<%= product.images[i] %>" class="img-fluid thumbnail-image" alt="Product Image <%= i %>" style="min-width: 110%; height: auto;" onclick="changeMainImage('/<%= product.images[i] %>')">
          </div>
          <% } %>
        </div>
      </div>
      
      
      <div class="col-md-6 product-body">
        <h3><%= product.productName %></h3>
        <% if (product.discount) { %>
          <p class="card-text text-muted">
            <span style="text-decoration: line-through;">₹<%= product.originalprice %></span>
            <span id="discountedPrice" style="font-weight: 700; font-size: 20px; color:black">₹<%= calculateDiscountedPrice(product.originalprice, product.discount) %></span>
          </p>
          <p style="color: chocolate; font-weight: 700"><%= product.discount %>% off</p>
        <% } %>
        <span style="background-color: black; color: white; padding: 5px 10px;">Price inclusive of all taxes | Free shipping</span>
    
        
        <div class="customize mt-4">
          <h6>Customize</h6>
          <p >Note: Additional charges are applicable for the following services and products.*</p>
        </div>
        
       
        <div class="quantity mt-4">
          <h6>Quantity</h6>
          <div class="input-number">
            <div class="input-group">
              <button type="button" class="decrement-btn" onclick="decrementValue()">-</button>
              <input type="text" value="1" id="numberInput" data-product-id="<%= product._id %>">
              <button type="button" class="increment-btn" onclick="incrementValue()">+</button>
            </div>
          </div>
        </div>
            
        
        <div class="price-and-cart mt-4">
          <h6>Price</h6>
          <div style="display: flex; align-items: center;">
            <span id="totalPrice" style="font-weight: 700; font-size: 20px; color:black">₹<%= calculateDiscountedPrice(product.originalprice, product.discount) %></span>
            &nbsp;&nbsp;<button class="btn btn-dark add-to-cart" data-product-id="<%= product._id %>">Add To Cart</button>

           
          
            <% if (length > 0 && length <= 11) { %>
              &nbsp;&nbsp;&nbsp;&nbsp;<h5 style="color: red; font-weight: bold;">Only <%= length %> stock left</h5>
            <% } %>
            <% if (length<1) { %>
              &nbsp;&nbsp;&nbsp;&nbsp;<h5 style="color: red; font-weight: bold;">Out of Stock</h5>
            <% } %>
        </div>
    
        
        <div class="additional-info mt-4">
          <p><i class="fa-regular fa-calendar"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>Expected Dispatch Date:</strong> <span id="dispatch-date"></span></p>
          <p style="display: flex; align-items: center; gap: 5px;">
            <i class="fa-solid fa-house"></i>&nbsp;
            <a href="#" style="color: #4b5563; font-size: 14px; text-decoration: underline 1px solid currentColor; text-underline-offset: 4px;">
              Free Design Consultation
            </a>
          </p>
          <p style="display: flex; align-items: center; gap: 5px;">
            <i class="fa-solid fa-truck"></i>&nbsp;
            <a href="#" style="color: #4b5563; font-size: 14px; text-decoration: underline 1px solid currentColor; text-underline-offset: 4px;">
              Pan India Free Shipping
            </a>
          </p>
        </div>
    </div>
    
        <!-- Share Icons -->
        <div class="share mt-4">
          <p>Share: 
            <i class="fa-brands fa-facebook-f"></i>
            &nbsp;
            <i class="fa-brands fa-whatsapp"></i>
            &nbsp;
            <i class="fa-brands fa-twitter"></i>
          </p>
        </div>
      </div>
    </div>
  
    <div class="row mt-5" style="width: 532px; margin-left: 600px; font-size: 12px;">
      <div class="col-12">
        <div class="accordion" id="productInfoAccordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h6 class="mb-0">
                <button style="font-size: 15px;" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Description <span class="plus-icon"></span>
                </button>
              </h6>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#productInfoAccordion">
              <div class="card-body">
                <%= product.description %>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h6 class="mb-0">
                <button style="font-size: 15px;" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Key Features <span class="plus-icon"></span>
                </button>
              </h6>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#productInfoAccordion">
              <div class="card-body">
                <p>Primary Material: <%= product.primarymaterial %></p>
                <p>Country of Origin: <%= product.countryofOrigin %></p>
                <p>Floor Standing: <%= product.floorstanding %></p>
                <p>Secondary Material: <%= product.material %></p>
                <p>Fabric Option: <%= product.fabric_option %></p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h6 class="mb-0">
                <button style="font-size: 15px;" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Dimension <span class="plus-icon"></span>
                </button>
              </h6>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#productInfoAccordion">
              <div class="card-body">
                <%= product.dimension %>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h6 class="mb-0">
                <button style="font-size: 15px;" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Maintenance <span class="plus-icon"></span>
                </button>
              </h6>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#productInfoAccordion">
              <div class="card-body">
                Maintenance instructions.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFive">
              <h6 class="mb-0">
                <button style="font-size: 15px;" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Warranty summary <span class="plus-icon"></span>
                </button>
              </h6>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#productInfoAccordion">
              <div class="card-body">
                Warranty: <%= product.warranty %>
              </div>
            </div>
          </div>
          <div class="card">
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
 
  
<script>
const originalPrice = '<%= calculateDiscountedPrice(product.originalprice, product.discount) %>';
const numberInput = document.getElementById('numberInput');
const totalPriceElement = document.getElementById('totalPrice');
const addToCartButton = document.querySelector('.btn-dark'); 
const productId = '<%= product._id %>';
console.log("The product id is " + productId);
const productPrice = productId; 

function addToCart() {
  console.log('Add to Cart button clicked');
  const quantity = parseInt(numberInput.value, 10);
  console.log('Quantity:', quantity);

 
  if (isNaN(quantity) || quantity <= 0) {
    alert('Please enter a valid quantity.');
    return;
  }

  fetch('/user/add-to-cart', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify({
     quantity: quantity,
     price: productPrice,
     productId:productId
    })
})
.then(response => {
  console.log('Response status:', response.status);
  return response.json().then(data => ({ status: response.status, data }));
})
.then(({ status, data }) => {
  console.log('Response data:', data);

  if (status === 200) {
    
    Swal.fire({
      icon: 'success',
      title: 'Success!',
      text: data.message || 'Product added to cart successfully!',
      customClass: {
    container: 'custom-swal-container',
    popup: 'custom-swal-popup',
    title: 'custom-swal-title',
    content: 'custom-swal-content',
    confirmButton: 'custom-swal-confirm-button'
  }
    });
  } else if (status === 400 && data.message === 'Product is out of stock') {
    
    Swal.fire({
      title: 'Out of Stock',
      text: 'The product you are trying to add is out of stock.',
      customClass: {
    container: 'custom-swal-container',
    popup: 'custom-swal-popup',
    title: 'custom-swal-title',
    content: 'custom-swal-content',
    confirmButton: 'custom-swal-confirm-button'
  }
    });
  } else {
  
    Swal.fire({
      icon: 'error',
      title: 'Error!',
      text: data.message || 'Failed to add product to cart. Please try again.',
      customClass: {
    container: 'custom-swal-container',
    popup: 'custom-swal-popup',
    title: 'custom-swal-title',
    content: 'custom-swal-content',
    confirmButton: 'custom-swal-confirm-button'
  }
    });
  }
})
.catch(error => {
  console.error('Error:', error);
  Swal.fire({
    icon: 'error',
    title: 'Oops...',
    text: 'An unexpected error occurred. Please try again later.',
    customClass: {
    container: 'custom-swal-container',
    popup: 'custom-swal-popup',
    title: 'custom-swal-title',
    content: 'custom-swal-content',
    confirmButton: 'custom-swal-confirm-button'
  }
  });
});


}


if (addToCartButton) {
  addToCartButton.addEventListener('click', addToCart);
} else {
  console.error('Add to Cart button not found');
}

function updatePrice() {
  const quantity = parseInt(numberInput.value, 10);
  const newPrice = originalPrice * quantity;
  totalPriceElement.textContent = `₹${newPrice.toLocaleString()}`;
}

function incrementValue() {
  let value = parseInt(numberInput.value, 10);
  value = isNaN(value) ? 0 : value;
  value++;
  numberInput.value = value;
  console.log(numberInput.value);
  updatePrice();
}

function decrementValue() {
  let value = parseInt(numberInput.value, 10);
  value = isNaN(value) ? 0 : value;
  value = value > 1 ? value - 1 : 1;
  numberInput.value = value;
  console.log(numberInput.value);
  updatePrice();
}


updatePrice();

function setExpectedDispatchDate() {
  let today = new Date();
  today.setDate(today.getDate() + 15);
  let options = { year: 'numeric', month: 'short', day: '2-digit' };
  let formattedDate = today.toLocaleDateString('en-US', options);
  document.getElementById('dispatch-date').innerText = formattedDate;
}

document.addEventListener('DOMContentLoaded', setExpectedDispatchDate);
 console.log(productId,"from product-details.ejs");
async function addToWishlist(productId) {
  try {
    const response = await fetch("/user/addwishlist", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ productId })
    });

    const data = await response.json();
    console.log(data);
    if (response.ok) {
      Swal.fire({
        icon: 'success',
        title: 'Success',
        text: data.message,
      });
    } else {
      Swal.fire({
        // icon: 'error',
        // title: 'Error',
        text: data.message,
      });
    }
  } catch (error) {
    console.error('Error adding to wishlist:', error);
    Swal.fire({
      icon: 'error',
      title: 'Error',
      text: 'Failed to add product to wishlist',
    });
  }
}

function changeMainImage(imageSrc) {
  document.getElementById('mainProductImage').src = imageSrc;
}

</script>
